Repository nekoplanet/misskey-io, pull requests merged in 2024-08, with the labels that each got.

#17 버그수정+ 타입체크 맞도록 수정
  packages/backend/src/config.ts
  packages/backend/src/core/S3Service.ts
  packages/backend/src/core/entities/MetaEntityService.ts
  packages/backend/src/server/api/endpoints/meta.ts
  packages/backend/test/unit/NoteCreateService.ts
  packages/backend/test/unit/activitypub.ts
  packages/backend/test/unit/misc/is-renote.ts
Labels: packages/backend, packages/backend:test

#18 Fix (backend:test): MIME error due to MIME error fix
  packages/backend/test/unit/FileInfoService.ts
Labels: packages/backend, packages/backend:test

#19 Fix db migration
  packages/backend/migration/1720853122058-RevRevertNoteEdit.js
Labels: packages/backend

#20 Type refactors (backend)?
  packages/backend/src/core/AiService.ts
  packages/backend/src/core/CustomEmojiService.ts
  packages/backend/src/core/DriveService.ts
  packages/backend/src/postgres.ts
Labels: packages/backend

#21 노트 수정 기능 관련
  packages/backend/src/core/NoteUpdateService.ts
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/components/MkPostFormDialog.vue
  packages/frontend/src/scripts/get-note-menu.ts
Labels: packages/backend, packages/frontend

#23 Fix: types and lint, also failing GH workflows
  .github/workflows/reviewer_lottery.yml
  .github/workflows/storybook.yml
  packages/backend/src/core/NoteUpdateService.ts
  packages/backend/src/core/activitypub/models/ApNoteService.ts
Labels: packages/backend

#24 fix (frontend): Refresh on note edit
  .github/workflows/storybook.yml
  packages/backend/src/core/NoteUpdateService.ts
  packages/backend/src/server/api/endpoints/notes/update.ts
  packages/frontend/src/os.ts
  packages/frontend/src/scripts/get-note-menu.ts
Labels: packages/backend, packages/frontend
